<div class="container">
<h1>Cocktails</h1>


<div class="cards recipe-card">
  <% @cocktails.each do |cocktail| %>
  <div class="card-category my-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    <%= link_to cocktail.name, cocktail_path(cocktail), { :class => "recipe-card__title"} %>
  </div>
      <% end %>
      </div>

</div>





